
<!DOCTYPE html>
<html>
<head>

	<!-- Basic -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Demo Resume | Porto - Multipurpose Website Template</title>

	<meta name="keywords" content="WebSite Template" />
	<meta name="description" content="Porto - Multipurpose Website Template">
	<meta name="author" content="okler.net">

	<!-- Favicon -->
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
	<link rel="apple-touch-icon" href="img/apple-touch-icon.png">

	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

	<!-- Web Fonts  -->
	<link id="googleFonts" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap" rel="stylesheet" type="text/css">

	<!-- Vendor CSS -->
	<link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="vendor/fontawesome-free/css/all.min.css">
	<link rel="stylesheet" href="vendor/animate/animate.compat.css">
	<link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.min.css">
	<link rel="stylesheet" href="vendor/owl.carousel/assets/owl.carousel.min.css">
	<link rel="stylesheet" href="vendor/owl.carousel/assets/owl.theme.default.min.css">
	<link rel="stylesheet" href="vendor/magnific-popup/magnific-popup.min.css">

	<!-- Theme CSS -->
	<link rel="stylesheet" href="css/theme.css">
	<link rel="stylesheet" href="css/theme-elements.css">
	<link rel="stylesheet" href="css/theme-blog.css">
	<link rel="stylesheet" href="css/theme-shop.css">

	<!-- Demo CSS -->
	<link rel="stylesheet" href="css/demos/demo-resume.css">

	<!-- Skin CSS -->
	<link id="skinCSS" rel="stylesheet" href="css/skins/skin-resume.css">

	<!-- Theme Custom CSS -->
	<link rel="stylesheet" href="css/custom.css">

	<!-- Head Libs -->
	<script src="vendor/modernizr/modernizr.min.js"></script>

</head>
<body data-plugin-scroll-spy data-plugin-options="{'target': '.wrapper-spy'}">

	<div class="body">
		<header id="header" class="header-floating-icons" data-plugin-options="{'stickyEnabled': false, 'stickyEnableOnBoxed': false, 'stickyEnableOnMobile': false, 'stickyStartAt': 0, 'stickySetTop': '60px', 'stickyChangeLogo': false}">
			<div class="header-body bg-transparent">
				<div class="header-container container">
					<div class="header-row">
						<div class="header-column">
							<div class="header-row">
								<div class="header-nav pt-1">
									<div class="header-nav-main">
										<nav class="wrapper-spy collapse">
											<ul class="nav" id="mainNav">
												<li>
													<a data-hash href="#about-me" class="nav-link text-color-dark bg-color-primary">
														<i class="icon-home icons"></i>
														<span class="custom-tooltip text-color-dark">About Me</span>
													</a>
												</li>
												<li>
													<a data-hash href="#experience" class="nav-link text-color-dark bg-color-primary">
														<i class="icon-eye icons"></i>
														<span class="custom-tooltip text-color-dark">Experience</span>
													</a>
												</li>
												<li>
													<a data-hash href="#education" class="nav-link text-color-dark bg-color-primary">
														<i class="icon-briefcase icons"></i>
														<span class="custom-tooltip text-color-dark">Education</span>
													</a>
												</li>
												<li>
													<a data-hash href="#skills" class="nav-link text-color-dark bg-color-primary">
														<i class="icon-graduation icons"></i>
														<span class="custom-tooltip text-color-dark">Skills</span>
													</a>
												</li>
												<li>
													<a data-hash href="#portfolio" class="nav-link text-color-dark bg-color-primary">
														<i class="icon-diamond icons"></i>
														<span class="custom-tooltip text-color-dark">Portfolio</span>
													</a>
												</li>
												<li>
													<a data-hash data-hash-offset="0" data-hash-offset-lg="100" href="#recommendations" class="nav-link text-color-dark bg-color-primary">
														<i class="icon-pencil icons"></i>
														<span class="custom-tooltip text-color-dark">Recommendations</span>
													</a>
												</li>
												<li>
													<a data-hash href="#blog" class="nav-link text-color-dark bg-color-primary">
														<i class="icon-bubbles icons"></i>
														<span class="custom-tooltip text-color-dark">Blog</span>
													</a>
												</li>
												<li>
													<a data-hash href="#say-hello" class="nav-link text-color-dark bg-color-primary">
														<i class="icon-envelope-open icons"></i>
														<span class="custom-tooltip text-color-dark">Say Hello</span>
													</a>
												</li>
											</ul>
										</nav>
									</div>
									<button class="btn header-btn-collapse-nav text-color-dark border-radius-0" data-bs-toggle="collapse" data-bs-target=".header-nav-main nav">
										<i class="fas fa-bars"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<div role="main" class="main">

			@RenderBody();

			<footer id="footer" class="m-0 p-0">
				<div class="footer-copyright bg-color-light m-0">
					<div class="container">
						<div class="row">
							<div class="col-lg-12 m-0">
								<p  class="custom-text-color-2">© Copyright 2022. All Rights Reserved.</p>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>

		<!-- Vendor -->
		<script src="vendor/plugins/js/plugins.min.js"></script>

		<!-- Theme Base, Components and Settings -->
		<script src="js/theme.js"></script>

		<!-- Current Page Vendor and Views -->
		<script src="js/views/view.contact.js"></script>

		<!-- Demo -->
		<script src="js/demos/demo-resume.js"></script>

		<!-- Theme Custom -->
		<script src="js/custom.js"></script>

		<!-- Theme Initialization Files -->
		<script src="js/theme.init.js"></script>

       
        


		@await RenderSectionAsync("Scripts", required: false)

</body>
</html>

